*{
    font-weight: 200;
    margin: 0;
    padding: 0;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-weight: 520;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
@font-face {
    font-family: "Beba Neue Pro";
    src: url("./font/Fontspring-DEMO-bebasneuepro-regular.otf");
    font-weight: 200;
}
:root{
    --tema1: #fcb200;
}
html {
    scroll-behavior: smooth;
  }
section{
    align-items: center;
    width: 100%;
    justify-content: center;
    height: auto;
    display: flex;
}
section:nth-of-type(1) .center{
    width: 68%;
}
section:nth-of-type(1) .center p:nth-of-type(1){
    line-height: 1.1;
    width: 75%;
}
section:nth-of-type(1) .center p:nth-of-type(2){
    letter-spacing: -0.05em;
    width: 85%;
}
.section1{
    display: flex; 
    flex-direction: column;
}
.section1 .center{
    width: 67%;
}
.section2{
}
.section2 .center{
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.021);  
    background: white; 
    align-items: center; 
    justify-content: space-between; 
    flex-direction: column;
    border-radius: 30px; 
    margin: 30px 0px;
    padding: 50px 0px;
}
.section2 .center .titulo,.titulo strong{
    font-family: "Beba Neue Pro", sans-serif;
  font-weight: 600;
  font-size: 40px;
  width: 75%;
  text-align: center;
  color: rgb(0, 2, 43);
}
.section2 .center .vantagens{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section2 .center .vantagens div{
    margin: 40px 35px;
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section2 .center .vantagens div img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
}
.section2 .center .vantagens div p{
    padding: 20px 0px;
    text-align: center;
}
.section2 .pergunta{
    padding: 10px 0px;
    width: 60%;
    display: flex;
    align-items: center;
}
.section2 .pergunta span{
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    position: relative;
    width: 55px;
    height: 30px;
    border-radius: 5px;
    border:2px solid var(--tema1);
}
.section2 .pergunta .marcado::after{
    content: "";
    position: absolute;
    width: 140%;
    top: -60%;
    height: 140%;
    background: url("img/check.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section2 .lados{
    margin: 20px 20px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2 .lados p{
    width: 40%;
}
.section2 .lados img{
    width: 50%;
    height: auto;
    border-radius: 35px;
}
.linha{
    width: 90%;
    height: 2px;
    margin: 50px 0px;
    background: #c1c1c1;
}
.respo_pergunta{
    width: 70%;
    text-align: center;
}
.porque{
    font-size: 50px;
    font-weight: 700;
    font-family: "Beba Neue Pro", sans-serif;
    color: var(--tema1);
    padding: 40px 0px;
}
.video-js{
    z-index: -1;
    aspect-ratio:16/9;
    width: 100%;
    background-color: none;
}
.my-video-dimensions{
    height: auto;
}
.titulos{
font-family: "Beba Neue Pro", sans-serif;
  font-weight: 400;
  font-size: 45px;
  color: #00002e;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 40px;
}
.titulos strong{
    font-family: "Beba Neue Pro", sans-serif;
  font-weight: 400;
  font-size: 45px;
  color: #00002e;
  font-weight: 600;
  font-style: normal;
    border-bottom: 4px solid black;
}
body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    width: 100%;
    min-height: 100%;
    position: absolute;
}

.center{
    width: 78%;
    height: auto;
    display: flex;
}
#logo{
    width:15%; 
    height:auto;
    padding-bottom: 40px;
}
.col{
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.col p{
    text-align: center;
}
.cont-video{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
}
.cont-video button{
    z-index: 100;
    position: absolute;
    border-radius: 20px;
    background: #dabb0c;
    color: black;
    font-size: 30px;
    padding: 10px 30px;
    border: none;
}
.tag{
    padding: 50px 0px; 
    letter-spacing: -0.05em;
}
.cta{
    z-index: 100;
    border-radius: 40px;
    background: rgb(218, 187, 12);
    color: black;
    font-weight: 600;
    font-size: 25px;
    margin-top: 30px;
    padding: 25px 40px;
    border: none;
}
.image1{
    width: 55%;
    height: 700px;
    background: url("./img/image1.png");
    background-size: cover;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.image2{
    width: 55%;
    height: 700px;
    background: url("./img/image2.png");
    background-size: cover;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.lado{
    width: 40%;
}
.container1{
    padding: 50px 0px;
}
.container1 .center{
    align-items: center;
    justify-content: space-between;
}
.container1 .lado p:nth-of-type(1){
    color: rgb(226, 153, 18); 
    font-weight: 600;
    font-family: 'Beba Neue Pro';
    font-size: 25px;
}
.container1 .lado p:nth-of-type(2){
    font-weight: 600;
    font-family: "Beba Neue Pro", sans-serif;
    font-size: 40px;
}

@media screen and (min-width:890px){
}
@media screen and (min-width:1800px){
    .center{
        width: 55%;
    }
}
@media screen and (max-width:700px) {
    .video-js{
        width: 100%;
    }
    .center,section:nth-of-type(1) .center{
        width: 90%;
    }
    .titulos,.titulos strong{
        font-size: 35px;
    }
    *{
        font-size: 17px;
    }
    #logo{
        width: 30%;
    }
    section:nth-of-type(1) .center p:nth-of-type(2),section:nth-of-type(1) .center p:nth-of-type(1){
        width: 100%;
    }
    .cta{
        width: 100%;
        font-size: 17px;
    }
    .tag{
        width: 70%;
    }
    .container1 .center{
        flex-direction: column;
    }
    .container1 .center .image1{
        height: 400px;
    }
    .container1 .center .image1, .container1 .center .lado{
        width: 100%;
    }

}
