:root{
    --tema1: #fcb200;
}
html {
    scroll-behavior: smooth;
  }
section{
    align-items: center;
    width: 100%;
    justify-content: center;
    height: auto;
    display: flex;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    width: 100%;
    min-height: 100%;
    position: absolute;
}
*{
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
.center,.center_provas{
    width: 75%;
    height: auto;
    display: flex;
}
.center_provas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inicial .lado p:nth-of-type(1){
    padding: 20px 0px; 
    font-weight: 700; 
    font-size: 30px; 
    color: white;

}
.inicial .lado p:nth-of-type(2){
    padding: 10px 0px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
}
.inicial, .prova_social{
    background: 
    linear-gradient(rgba(5, 5, 82, 0.536), rgba(5, 5, 82, 0.536)), /* Cor de fundo com opacidade */
    url('wall.jpg'); /* Caminho para a imagem */
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  height: 100vh;
}
.prova_social{
    background: 
    linear-gradient(rgba(5, 5, 82, 0.536), rgba(5, 5, 82, 0.536)), /* Cor de fundo com opacidade */
    url('prag.png'); /* Caminho para a imagem */
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  height: 100vh;
}
#comprar{
    background: 
    linear-gradient(rgba(5, 5, 82, 0.639), rgba(5, 5, 82, 0.639)), /* Cor de fundo com opacidade */
    url('prag.png'); /* Caminho para a imagem */
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  height: 100vh;
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}
#comprar p:nth-of-type(1){
    text-align: center; 
    font-weight: 700; 
    font-size: 55px;
     width: 50%; 
    line-height: 1.1;
}
#comprar .descri{
    letter-spacing: 5px; 
    padding-top: 20px; 
    font-weight: 300; 
    font-size: 23px;
}
#comprar .preco{
    padding-top: 20px; 
    text-align: center; 
    font-weight: 700; 
    font-size: 55px; 
    width: 100%; 
    line-height: 1.1;
}
#comprar a{
    margin-top: 20px;
    border-right:5px solid rgb(0, 0, 174); 
    border-bottom:5px solid rgb(0, 0, 174); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 20px 0px; 
    width: 40%;
    text-decoration: none; 
    font-weight: 600; 
    border-radius: 50px; 
    font-size: 30px; 
    color: white; 
    background: rgb(59, 59, 255);
}
#comprar img{
    width: 30%; 
    height: auto;
}
#rodape{
    background: rgb(5, 5, 82) /* Cor de fundo com opacidade */

}
.cta{
    cursor: pointer; 
    border-radius: 10px; 
    font-weight: 500; 
    width: 40%; 
    height: 50px;  
    text-decoration: none; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    background: rgb(65, 65, 255);
    color: white;
}
.cta i{
    animation: subir 1s ease-in-out infinite;
    padding-left: 10px;
}
@keyframes subir {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-7px);
    }
    100%{
        transform: translateY(0px);
    }
}
.inicial{
    padding-top: 20vh; 
}
.inicial .container{
    width: 100%;  
    min-height: 90%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.depoimento .container{
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.depoimento .lado p:nth-of-type(1){
    padding: 10px 0px; color: black; font-weight: 700; font-size: 30px;
}
.depoimento .lado p{
    padding: 10px 0px;
    color: black; 
    font-weight: 400; 
    font-size:20px; 
}
.depoimento{
    padding: 20px 0px;
    width: 100%; 
    min-height: 500px; 
    background: linear-gradient(to bottom right,white, rgb(240, 246, 255)); 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.vantagens{
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background: rgba(3, 3, 51, 0.857); 
    padding: 50px 0px;
}
.vantagens .item p{
    color: white; 
    font-weight: 300; 
    text-align: center;
}
.vantagens .item{
    display: flex; 
    align-items: center; 
    justify-content: start; 
    flex-direction: column; 
    width: 30%;
}
.vantagens .container{
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
}
.depoimento .lado{
    width: 70%; 
    display: flex; 
    align-items: start; 
    color: black;
    justify-content: center; 
    flex-direction: column;
}
.design{
    width: 100%; 
    background: rgb(235, 235, 255);
     min-height: 500px; 
     padding: 50px 0px;
}
.design .center{
    justify-content:space-evenly;
}
.design .center .lado:nth-of-type(1){
    width: 40%;
}
.design .center .lado:nth-of-type(2){
    width: 45%;
}
.design .center .lado p:nth-of-type(1){
    font-size: 30px; 
    font-weight: 600; 
    color: #221435;
}
.inicial .container img{
    width: 100%; 
    height: auto;
}

.inicial .lado{
    width: 47%; 
    min-height: 100%;
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column;
}
.cta:hover{
    color: rgb(65, 65, 255);
    outline: 1px solid rgb(65, 65, 255);
    background: white;
}
.faq{
    min-height: 400px; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    background: white;
}
.faq .item p{
    color: #54595F; 
    font-size: 17px;
    text-align: left;
    padding-left: 10px;
}
.faq .item{
    padding: 10px 10px; 
    height: 80px; 
    width: 31%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 10px; 
    background: rgb(106 106 255 / 6%)
}
.faq .titulo{
    font-size: 40px;
}
.faq .lista{
    width: 100%; 
    justify-content: space-between; 
    align-items: center; 
    display: flex; 
    min-height: 25%;
}
.faq p:nth-of-type(1){
    text-align: center;
    font-weight: 400; 
    color: #221435;  
    line-height: 1;
}
.faq p:nth-of-type(2){
    font-size: 20px; 
    font-family: Crimson Pro; 
    color: #54595F; 
    letter-spacing: 5px; 
    padding: 40px 0px;
}
.prova_social{
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
.prova_social{
    min-height: 900px;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}
.prova_social .setas{
    display: none;
}
.container_comentarios{
    width: 100%;
    animation: scroll 30s linear infinite;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 5))
    }
}
.container_comentarios::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem */
}
.container_comentarios{
    scrollbar-width: none;
}
.container_comentarios {
    -ms-overflow-style: none; /* Oculta a barra de rolagem no IE e Edge */
}
.comentarios{
    overflow-y: hidden;
    flex-shrink: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: auto;
    overflow-x: hidden;
    min-height: fit-content;}

.comentarios::before{
}
.comentario{
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 20%;
    background: #EDEAE3;
    color: var(--cor-destaque);
    border-radius: 10px;
    height: 30rem;
}
.comentario .cabecalho{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.comentario .cabecalho .profile{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 12px;
    align-items: center;
}
.comentario .cabecalho .profile img{
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.comentario .cabecalho .profile .informacoes{
    margin-left: 10%;
    height: 100%;
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.comentario .cabecalho .profile .informacoes p{
    height: auto;
}
.comentario .cabecalho .profile .informacoes p:nth-child(1){
    font-size: 100%;
    line-height: 1;
}
.comentario .cabecalho .profile .informacoes p:nth-child(2){
    font-size: 11px;
    line-height: 1;
    color: var(--cor-base);
}

.comentario span{
    margin: 12px 0px;
    width: 100%;
    display: flex;
}
.comentario span i{
font-size: 19px;
    color: #FBBD3D;
}
.comentario .texto{
    color: black;
    height: 90%;
    font-weight: 300;
    line-height: 1;
    font-size: 100%;
}
.comentario .content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
}
.comentario .content img{
    width: 100%;
    height: 100%;
}

.prova{
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
}
.prova p:nth-of-type(2){
    font-size: 18px; 
    font-weight: 300; 
    width: 70%; 
    text-align: center;
}
.prova .titulo{
    padding: 20px 0px;
    font-weight: 700;
    font-size: 28px;
    color: white;
}
.prova .controles{
    justify-content: center;
    display: flex;
    width: 100%;
}
.prova .controles i{
    color: var(--cor-thema);
    background: white;
    border-radius: 50%;
    padding: 0.9rem 1rem;
}
.prova .controles i:hover{
    cursor: pointer;
    color: white;
    background: transparent;
    border-radius: 50%;
    outline: 2px solid white; 
}
@media screen and (max-width:1800px){
    .center{
        width: 70%;
    }
}
@media screen and (max-width:700px) {
    .inicial .container{
        flex-direction: column;
    }
    .inicial .lado{
        width: 100%;
    }
    .inicial .lado p:nth-of-type(1){
        text-align: center;
    }
    .inicial .lado p:nth-of-type(2){
        font-size: 100%;
        text-align: justify;
    }
    .inicial .lado:nth-of-type(1){
        order: 1;
    }
    .inicial .lado:nth-of-type(2){
    }
    .depoimento .container{
        flex-direction: column;
    }
    .cta{
        width: 100%;
    }
    .depoimento .lado{
        align-items: center;
        width: 100%;
    }
    .depoimento .lado p{
        width: 100%;
        font-size: 100%;
        text-align: justify;
    }
    .vantagens .container{
        flex-direction: column;
    }
    .vantagens .item{
        padding: 20px 0px ;
        width: 100%;
    }
    .vantagens .item p:nth-of-type(2){
        text-align: justify;
        font-size: 100%;
    }
    .design .center{
        flex-direction: column;
    }
    .design .center .lado p{
        width: 100%;
    }
    .inicial .lado p:nth-of-type(1),
    .depoimento .lado p:nth-of-type(1),
    .design .center .lado p:nth-of-type(1),
    .prova .titulo,
    .inicial .lado p:nth-of-type(1),
    .depoimento .lado p:nth-of-type(1),
    .design .center .lado p:nth-of-type(1), .faq .titulo{
        font-size: 150%;
    }
    .design .center .lado p:nth-of-type(1){
        text-align: center;
    }
    .design .center .lado p:nth-of-type(2){
        text-align: justify;
    }
    .design .center .lado{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .design .center .lado:nth-of-type(1) img{
        width: 90%;
        aspect-ratio: 1/1;
    }
    .design .center .lado:nth-of-type(1){
        width: 100%;
    }
    .design .center .lado:nth-of-type(2){
        width: 100%;
    }    
    .inicial .container img{
        width: 100%;
        aspect-ratio: 16/9;
    }
    .prova .titulo{
        text-align: center;
    }.prova .titulo i{
        display: none;
    }
    .prova p:nth-of-type(2){
        font-size: 100%;
        text-align: justify;
        width: 100%;
    }
    .comentario{
        width: 100%;
    }
    .faq{
        padding: 50px 0px;
    }
    .faq p:nth-of-type(1){
        text-align: center;
    }
    .faq p:nth-of-type(2){
        text-align: center;
        font-size: 100%;
    }
    .faq .lista{
        flex-direction: column;
    }
    .faq .item{
        margin: 10px 0px;
        height: 100px;
        width: 100%;
    }
    .faq .item p{
        font-size: 100%;
        font-weight: 400;
    }
    #comprar p:nth-of-type(1){
        font-size: 190%;
        width: 100%;
    }
    #comprar .descri{
        font-size: 100%;
        text-align: center;
    }
    #comprar a{
        width: 100%;
        font-size: 20px;
    }
    #comprar img{
        width: 70%;
    }
    .inicial{
        padding-top: 25vh;
    }

}
